.coming-tours {
  overflow: hidden;

  &__wrapper {
    position: relative;
    padding-top: 6.56vw;

    @media (min-width: $tablet) {
      padding-top: 3.8vw;
    }

    @media (min-width: $desktop) {
      padding-top: 2.569vw;
    }
  }

  &__title {
    margin-bottom: 6.60vw;
    font-weight: 800;
    font-size: 8.125vw;
    line-height: 10vw;
    color: $blackText;

    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 800;
      font-size: 13.43vw;
      opacity: 0.07;
      white-space: nowrap;
    }

    @media (min-width: $tablet) {
      margin-bottom: 2.02vw;
      font-size: 4.166vw;
      line-height: 5.07vw;

      &--bg {
        font-size: 5.859vw;
      }
    }

    @media (min-width: $desktop) {
      position: relative;
      margin-bottom: 3.055vw;
      font-size: 2.43vw;
      line-height: 2.986vw;

      &--bg {
        font-size: 3.819vw;
        top: -.5vw;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin-bottom: 13.75vw;
    transition: transform 0.5s ease;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(3, 30.446vw);
      justify-content: space-between;
      margin-bottom: 6.25vw;
      transform: translateX(0) !important;
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(3, 26.672vw);
      margin-bottom: 6.736vw;
    }
  }

  &__item {
    @media (min-width: $tablet) {
      transform: translateX(0) !important;
    }
  }

  .indicators-list {
    margin-bottom: 12.5vw;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__link-to-all-tours {
    position: relative;
    display: block;
    margin-bottom: 18.125vw;
    text-align: center;
    font-weight: 700;
    font-size: 5vw;
    line-height: 70%;
    color: $blackText;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg) skew(-10deg, -10deg);
      width: 2.8vw;
      height: 2.8vw;
      margin-left: 2vw;
      border: .65vw solid $blackText;
      border-left: none;
      border-bottom: none;
    }

    @media (min-width: $tablet) {
      font-size: 2.083vw;
      margin-bottom: 4.036vw;

      &::after {
        width: 1.3vw;
        height: 1.3vw;
        margin-left: 1.5vw;
        border-width: .260vw;
      }
    }

    @media (min-width: $desktop) {
      font-size: 1.111vw;
      margin-bottom: 1.4vw;

      &::after {
        width: .7vw;
        height: .7vw;
        margin-left: .833vw;
        border-width: .145vw;
      }
    }
  }
}