.header {
  position: absolute;
  width: 100%;
  padding-top: 6.25vw;

  z-index: 2;

  @media (min-width: $tablet) {
    padding-top: 3.385vw;
  }

  &__wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet) {
      grid-template-columns: auto 1fr auto;
      gap: 4.94vw;
    }

    @media (min-width: $desktop) {
      gap: 5.486vw;
    }
  }

  &__logo-link {
    text-decoration: none;
  }

  &__logo {
    font-size: 21.25vw;
    color: #ffffff;

    @media (min-width: $tablet) {
      font-size: 10.937vw;
    }

    @media (min-width: $desktop) {
      font-size: 5.277vw;
    }
  }

  .navigation {
    @media (min-width: $tablet) {
      &__list {
        display: grid;
        grid-template-columns: repeat(6, max-content);
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }

      &__link {
        font-size: 1.822vw;
        text-decoration: none;
        color: #ffffff;
      }
    }

    @media (min-width: $desktop) {
      &__link {
        font-size: 1.111vw;
      }
    }
  }

  &__whatsapp {
    @media (min-width: $tablet) {
      position: relative;
      text-decoration: none;

      &--icon {
        position: relative;
        font-size: 5.468vw;
        line-height: 100%;
        color: $whatsappColor;

        &::after {
          content: '';
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 3.906vw;
          height: 3.906vw;
          border-radius: 50%;
          background-color: #ffffff;
          z-index: -1;
        }
      }

      &--span {
        font-size: 0;
      }
    }

    @media (min-width: $desktop) {
      display: flex;
      align-items: center;

      &--icon {
        margin-right: .555vw;
        font-size: 2.222vw;

        &::after {
          content: '';
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 2.083vw;
          height: 2.083vw;
          border-radius: 50%;
          background-color: #ffffff;
          z-index: -1;
        }
      }

      &--span {
        font-size: 1.319vw;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }

  &__toggle {
    position: relative;
    width: 13.125vw;
    height: 13.125vw;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;

    @media (min-width: $tablet) {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 7.5vw;
      height: .625vw;
      background-color: $blueColor;
      transition: .3s ease;
    }

    &::before {
      top: 3.75vw;
      box-shadow: 0 2.5vw 0 0 $blueColor;
    }

    &::after {
      bottom: 3.75vw;
    }

    &--active {
      &::before,
      &::after {
        box-shadow: none;
        top: 50%;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__mobile-menu {
    position: absolute;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 35vw;
    background-image: linear-gradient(180deg, #2A8FEB 0%, #2876BC 100%);
    font-size: 6.56vw;
    transition: .3s ease;

    z-index: 1;

    &--active {
      left: 0;
    }

    .navigation {
      &__list {
        list-style: none;
      }

      &__item {
        text-align: center;
        margin-bottom: 6vw;
      }

      &__link {
        color: #ffffff;
        text-decoration: none;
      }
    }

    .header__whatsapp {
      position: relative;
      margin-bottom: 7vw;
      color: #ffffff;
      text-decoration: none;

      &--icon {
        position: absolute;
        top: -.900vw;
        left: -11vw;
        font-size: 7.5vw;
        line-height: 70%;
      }
    }

    .social {
      &__list {
        display: flex;
        justify-content: space-between;
        width: 46.875vw;
        list-style: none;
      }

      &__link {
        font-size: 10vw;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}