.instructors {
  position: relative;
  padding-bottom: 65.625vw;
  background: url("./images/instructors-bg-mobile.jpg") no-repeat bottom;
  background-size: 100%;

  @media (min-width: $tablet) {
    padding-bottom: 39.713vw;
    background: url("./images/instructors-bg-tablet.jpg") no-repeat bottom;
    background-size: 100%;
  }

  @media (min-width: $desktop) {
    padding-bottom: 34.236vw;
    background: url("./images/instructors-bg-desktop.jpg") no-repeat bottom;
    background-size: 100%;
  }

  &__wrapper {
    position: relative;
    padding-top: 6.25vw;

    @media (min-width: $tablet) {
      padding-top: 2.605vw;
    }

    @media (min-width: $desktop) {
      position: relative;
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 3.437vw;
    padding-left: 3.75vw;
    font-weight: 800;
    font-size: 10vw;
    line-height: 12.187vw;
    color: $blackText;

    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 800;
      font-size: 12.5vw;
      line-height: 15.312vw;
      opacity: .07;
    }

    @media (min-width: $tablet) {
      margin-bottom: 2.994vw;
      padding-left: 1.041vw;
      font-size: 4.166vw;
      line-height: 5.078vw;

      br {
        display: none;
      }

      &--bg {
        font-size: 7.161vw;
        line-height: 8.723vw;
      }
    }

    @media (min-width: $desktop) {
      margin-bottom: 1.875vw;
      padding-left: .208333vw;
      font-size: 2.43vw;
      line-height: 2.986vw;

      &--bg {
        top: -1.3vw;
        font-size: 3.819vw;
        line-height: 4.652vw;
      }
    }
  }

  &__description {
    margin-bottom: 6.25vw;
    padding-left: 3.75vw;
    font-size: 3.75vw;
    line-height: 6.25vw;

    @media (min-width: $tablet) {
      margin-bottom: 2.604vw;
      padding-left: 1.041vw;
      font-size: 2.083vw;
      line-height: 3.125vw;
    }

    @media (min-width: $desktop) {
      width: 55.763vw;
      margin-bottom: 2.777vw;
      padding-left: .208333vw;
      font-size: 1.111vw;
      line-height: 1.666vw;

      br {
        display: none;
      }
    }
  }

  .slider__wrapper {
    margin-bottom: 9.687vw;
    box-shadow: 0 0 7.812vw rgba(0, 0, 0, 0.09);

    @media (min-width: $tablet) {
      margin-bottom: 3.906vw;
      box-shadow: 0 0 3.255vw rgba(0, 0, 0, 0.08);
      background: rgba(0, 0, 0, .04);
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
      box-shadow: 0 0 1.8vw rgba(0, 0, 0, 0.08);
    }
  }

  &__list {
    display: flex;
    list-style: none;
    transition: transform 0.5s ease;
  }

  .indicators-list {
    @media (min-width: $desktop) {
      display: none;
    }
  }
}