.intro {
  height: 204vw;
  padding-top: 36.562vw;
  background-color: $blueColor;
  background-image: url("./images/cloud-intro-mobile.png"), url('./images/intro-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: 0 100%, center;
  background-size: contain, cover;

  @media (min-width: $tablet) {
    height: 72.8vw;
    padding-top: 25.39vw;
    background-image: url("./images/cloud-intro-tablet.png"), url('./images/intro-bg-tablet.jpg');
  }

  @media (min-width: $desktop) {
    height: 44.236vw;
    padding-top: 15.694vw;
    background-image: url("./images/cloud-intro-desktop.png"), url('./images/intro-bg-desktop.jpg');
    background-position: 0 110%, center;
  }

  &__wrapper {
    @media (min-width: $desktop) {
      position: relative;
      height: 100%;
    }
  }
  
  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 7.187vw;
    font-weight: 800;
    font-size: 11.562vw;
    line-height: 14.062vw;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1.125vw 1.125vw rgba(0, 0, 0, 0.08);

    &--bg {
      position: absolute;
      top: 47%;
      left: 52%;
      transform: translate(-50%, -50%);
      font-weight: 900;
      font-size: 15.625vw;
      line-height: 19.062vw;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #f5f9fc;
      opacity: 0.2;
    }

    @media (min-width: $tablet) {
      width: 62.36vw;
      margin-bottom: 3.515vw;
      font-size: 5.859vw;
      line-height: 7.161vw;
      text-align: left;

      &--mobile-br {
        display: none;
      }

      &--bg {
        top: -5.208vw;
        left: 0;
        transform: none;
        font-size: 10.677vw;
        line-height: 13.02vw;
      }
    }

    @media (min-width: $desktop) {
      width: 34.791vw;
      margin-bottom: 2.222vw;
      font-size: 3.333vw;
      line-height: 4.097vw;

      &--bg {
        top: -3.4vw;
        font-size: 6.458vw;
        line-height: 7.847vw;
      }
    }
  }

  &__link-to-choose-tour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74.687vw;
    height: 16.25vw;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #2A8FEB 0%, #2876BC 100%);
    font-weight: 500;
    font-size: 4.375vw;
    line-height: 16.25vw;
    color: #ffffff;
    text-decoration: none;
    border: .312vw solid #ffffff;

    @media (min-width: $tablet) {
      width: 29.427vw;
      height: 6.255vw;
      margin: 0;
      margin-bottom: 4.947vw;
      border: none;
      font-size: 1.953vw;
      line-height: 6.255vw;
    }

    @media (min-width: $desktop) {
      width: 15.486vw;
      height: 3.68vw;
      margin: 0;
      font-size: 1.041vw;
      line-height: 3.68vw;
    }
  }

  .social {
    @media (min-width: $tablet) {
      width: 12.760vw;
      height: 2.773vw;
      margin-left: 8.203vw;

      &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
      }

      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.773vw;
        height: 2.773vw;
        background-color: rgba(2, 102, 193, .43);
        opacity: 1;
        font-size: 1.386vw;
        line-height: 70%;
        color: #ffffff;
        text-decoration: none;
      }
    }

    @media (min-width: $desktop) {
      position: absolute;
      right: 0;
      bottom: 8.520vw;
      width: 6.805vw;
      height: 1.479vw;
      margin: 0;

      &__link {
        width: 1.479vw;
        height: 1.479vw;
        font-size: .739vw;
      }
    }
  }
}