.intro {
  min-height: 652px;
  padding-top: 117px;
  background-color: deepskyblue;
  background-image: url("./images/cloud-intro-mobile.png"), url('./images/intro-bg-mobile.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, center;
  background-size: 100%, cover;
}