@keyframes showBlueBg {
  0% {
    opacity: 0;
  }
  to {
    opacity: .73;
  }
}

@keyframes showEye {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tour {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  height: 102.7vw;

  @media (min-width: $tablet) {
    flex: auto;
    max-width: none;
    height: 39.255vw;
  }

  @media (min-width: $desktop) {
    height: 30.833vw;

    &:hover .tour__price,
    &:hover .tour__wrapper {
      visibility: hidden;
    }

    &:hover .tour__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &:hover .tour__link::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2885db;
      animation: .7s showBlueBg ease;
      opacity: .73;
    }

    &:hover .tour__link::after {
      content: "\e901";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      font-family: 'icomoon', sans-serif;
      font-size: 4.93vw;
      animation: .7s showEye ease;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000000 22.3%, rgba(0, 0, 0, 0) 60.32%);
    opacity: .58;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 81.25vw;
    margin: 0 auto;
    padding-top: 46.20vw;
    z-index: 1;

    @media (min-width: $tablet) {
      width: 27.372vw;
      padding-top: 16.145vw;
    }

    @media (min-width: $desktop) {
      width: 23.743vw;
      padding-top: 16.261vw;
    }
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__price {
    position: absolute;
    top: 6.518vw;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.43vw;
    height: 10.625vw;
    background-color: #ffffff;
    border-radius: 0 6.25vw 6.25vw 0;
    border: 1.56vw solid #f8f8f8;
    border-left: none;
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 70%;
    color: #2885d8;

    @media (min-width: $tablet) {
      top: 2.927vw;
      width: 11.367vw;
      height: 3.906vw;
      border-radius: 0 2.604vw 2.604vw 0;
      border-width: .520vw;
      font-size: 1.692vw;
    }

    @media (min-width: $desktop) {
      top: 2.569vw;
      width: 8.888vw;
      height: 2.708vw;
      border-radius: 0 1.388vw 1.388vw 0;
      border-width: .347vw;
      font-size: 1.111vw;
    }
  }

  &__location {
    display: inline-block;
    height: 7.187vw;
    margin-bottom: 3.78vw;
    background-color: #2885d8;
    font-weight: 500;
    font-size: 3.75vw;
    line-height: 70%;

    &--span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-left: 3.28vw;
      margin-right: 9.375vw;
      padding-left: 5.625vw;
    }

    &--icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    @media (min-width: $tablet) {
      height: 2.734vw;
      margin-bottom: 1.622vw;
      font-size: 1.562vw;

      &--span {
        margin-left: 1.347vw;
        margin-right: 2.343vw;
        padding-left: 1.822vw;
      }
    }

    @media (min-width: $desktop) {
      height: 2.17vw;
      margin-right: 1.975vw;
      margin-bottom: 1.291vw;
      font-size: .972vw;

      &--span {
        margin-left: 1.041vw;
        margin-right: 1.99vw;
        padding-left: 1.3vw;
      }
    }
  }

  &__duration {
    margin-bottom: 3.125vw;
    font-weight: 500;
    font-size: 3.75vw;

    &--days,
    &--nights {
      position: relative;
      padding-left: 7.43vw;
    }

    &--days {
      margin-right: 4.06vw;
    }

    &--icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-right: 2.24vw;
      font-size: 4.84vw;
    }

    @media (min-width: $tablet) {
      margin-bottom: 1.302vw;
      font-size: 1.562vw;

      &--days,
      &--nights {
        padding-left: 2.34vw;
      }

      &--days {
        margin-right: 1.953vw;
      }

      &--icon {
        margin-right: .520vw;
        font-size: 1.822vw;
      }
    }

    @media (min-width: $desktop) {
      display: inline-block;
      margin-bottom: 1.622vw;
      font-size: .833vw;

      &--days,
      &--nights {
        padding-left: 2.013vw;
      }

      &--days {
        margin-right: 1.694vw;
      }

      &--icon {
        margin-right: .49vw;
        font-size: 1.45vw;
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 4.06vw;
    padding-bottom: 3.437vw;
    font-weight: 700;
    font-size: 5.625vw;
    line-height: 6.875vw;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 19.68vw;
      height: .3125vw;
      background-color: #ffffff;
      opacity: .28;
    }

    @media (min-width: $tablet) {
      margin-bottom: 1.562vw;
      padding-bottom: 1.476vw;
      font-size: 2.343vw;
      line-height: 2.864vw;

      &::after {
        width: 6.261vw;
        height: .130vw;
      }
    }

    @media (min-width: $desktop) {
      margin-bottom: 1.337vw;
      padding-bottom: .972vw;
      font-size: 1.666vw;
      line-height: 2.013vw;

      &::after {
        width: 5.486vw;
        height: .075vw;
      }
    }
  }

  &__information-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    list-style: none;
  }

  &__information-item {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1.83vw;

    &--title {
      font-weight: 300;
      font-size: 3.437vw;
    }

    &--description {
      font-weight: 700;
      font-size: 3.437vw;
    }

    @media (min-width: $tablet) {
      grid-gap: .748vw;

      &--title {
        font-size: 1.302vw;
      }

      &--description {
        font-size: 1.302vw;
      }
    }

    @media (min-width: $desktop) {
      grid-gap: .63vw;

      &--title {
        font-size: .833vw;
      }

      &--description {
        font-size: .902vw;
      }
    }
  }
}