@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icon/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tour-arrow:before {
  content: "\e907";
}
.icon-quotes:before {
  content: "\e908";
}
.icon-right:before {
  content: "\e900";
}
.icon-eye:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-vk:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e906";
}
.icon-moon:before {
  content: "\e90b";
}
.icon-sun:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e90c";
}
.icon-star-full:before {
  content: "\e90d";
}
.icon-star-empty:before {
  content: "\e90e";
}
