$blueColor: #2885db;
$blackText: #2d383f;
$whatsappColor: #4caf50;
$tablet: 768px;
$desktop: 1440px;

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

html, body {
  background-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  overflow: hidden;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.wrapper {
  width: 87.5vw;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 94.79vw;
  }

  @media (min-width: $desktop) {
    width: 83.333vw;
  }
}

@import "./fonts";
@import "./header";
@import "./intro";
@import "./tour";
@import "./coming-tours";

