$blueColor: #2885db;
$blackText: #2d383f;
$whatsappColor: #4caf50;
$tablet: 768px;
$desktop: 1440px;

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

html, body {
  background-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  overflow: hidden;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.wrapper {
  width: 87.5vw;
  margin: 0 auto;

  @media (min-width: $tablet) {
    //width: 94.79vw;
    width: 94.669271vw;
  }

  @media (min-width: $desktop) {
    width: 83.333vw;
  }
}

.indicators-list {
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.indicators-item {
  display: inline-block;
  width: 3.437vw;
  height: 3.437vw;
  border-radius: 50%;
  background-color: #ddefff;
  box-shadow: 0 .312vw 1.25vw rgba(40, 133, 219, 0.05);

  &:not(:last-child) {
    margin-right: 2.5vw;
  }

  &.active {
    background-color: #2885db;
  }
}

.slider__wrapper {
  overflow: hidden;
}

@import "./fonts";
@import "./header";
@import "./intro";
@import "./tour";
@import "./coming-tours";
@import "./about-us";
@import "./instructors";
@import "./instructor";

